* {
    gap: 20px;
    flex-wrap: wrap;
}

.image-container img {
    border-radius: 10px;
    transition: 0.4s;
}

.image-container img:hover {
    transform: scale(1.05);
}

@media (max-width: 767px) {

    .burger {
        display: block;
    }

    nav {
        position: absolute;
        top: 80px;
        right: 20px;
        background-color: #222222;
        flex-direction: column;
        width: 220px;
        padding: 20px;
        border-radius: 10px;

        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition: 0.4s;
    }

    nav.show {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .large-images {
        display: none;
    }
}

@media (min-width: 768px) {

    .medium-images {
        display: none;
    }
}
